* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #08032e;
    color: white;
}

.container {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}

button {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #4caf50;
    color: white;
    cursor: pointer;
}

li {
    background: #333;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: lightgreen;
}